body {background-color:#FFFAFA;}	
input {
  background-color:#F0F0F0;
  color: #000000;
  padding: 10px;
  font-size:10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
}
	select{
  background-color:#F0F0F0;
  color: #000000;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
}
    h3 {
      border-style: solid;
      border-left-width: 15px;
	  border-right-width: 15px;
	  border-color:#FFCCCC
    }
.center {
    text-align: center;
    border: 3px solid green;
}	
table{
    padding:５px;
    background-color:#F8F8F8;
    border:1px solid black;
}
